[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/universal-rewards-distributor"]
	path = lib/universal-rewards-distributor
	url = https://github.com/morpho-org/universal-rewards-distributor
